.spdck-hidden {
    display: none;
}

#spdck-controls,
#spdck-token-system {
    margin-top: 5px;
}

#spdck-controls-container {
    position: relative;
    height: 40px;
}
#spdck-controls .spdck-playback-control-button {
    position: absolute;
    top: 5px;
    transform: translate(-50%);
    width: 30px;
    height: 30px;
}
#spdck-controls .spdck-playback-control-button svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#spdck-previous-button {
    left: calc(50% - 45px);
}
#spdck-next-button {
    left: calc(50% + 45px);
}
#spdck-play-pause {
    left: 50%;
}
#spdck-play-pause.is-playing #spdck-play-button {
    display: none;
}
#spdck-play-pause:not(.is-playing) #spdck-play-button {
    display: block;
}
#spdck-play-pause.is-playing #spdck-pause-button {
    display: block;
}
#spdck-play-pause:not(.is-playing) #spdck-pause-button {
    display: none;
}


#spdck-track-container {
    position: relative;
    height: 80px;
}
#spdck-track-artwork {
    position: absolute;
    top: 5px;
    width: 70px;
    height: 70px;
    padding: 0;
    overflow: hidden;
}
#spdck-track-artwork img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#spdck-track-artwork img[src=""] {
    display: none;
}
#spdck-track-info {
    position: absolute;
    top: 5px;
    left: calc(80px);
    height: calc(100% - 10px);
    width: calc(100% - 85px);
}

#spdck-track-info .track-info-title,
#spdck-track-info .track-info-artist {
    width: 100%;
    overflow: hidden;
}
#spdck-track-info .track-info-title {
    font-size: 1em;
    max-height: 2.7em;
    line-height: 1.25em;
}
#spdck-track-info .track-info-artist {
    font-size: 0.75em;
    max-height: 2em;
    line-height: 1em;
}
#spdck-backlink svg {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#force-token-logout,
#spdck-version {
    position: absolute;
    bottom: 5px;
    right: 7.5px;
    font-size: .75em;
}
#spdck-version {
    right: initial;
    left: 7.5px;
}
#force-token-logout a,
#spdck-version a {
    color: #bababa;
    text-decoration: none;
}