.spotideck-hidden {
    display: none;
}

#spotideck-controls,
#spotideck-token-system {
    margin-top: 5px;
}

#spotideck-track-container {
    position: relative;
}
#spotideck-track-artwork {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25%;
    border: 1px solid #bababa;
}
#spotideck-track-info {
    position: absolute;
    top: 5px;
    left: calc(25% + 10px);
    width: calc(75% - 5px - 5px);
}

#force-token-logout {
    position: absolute;
    bottom: 5px;
    right: 7.5px;
    font-size: .75em;
}
#force-token-logout a {
    color: #bababa;
    text-decoration: none;
}